body {
    background-color: 	#121212;
}

.Seemore-toggle {
    user-select: none;
    position: relative;
    color: #474747;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0;
    transform: scale(0.6);
    animation: fade_in 1s forwards;
  }

  #see-more-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }