body, html {
    overflow-x: hidden;  
    max-width: 100%; 
    display: flex; 
}

body {
    background-color: 	#121212;
}

@media (max-width: 1400px) {
    .content-section {
        margin-bottom: 1000px; 
    }
}
